<!DOCTYPE html>
<html lang="en" xmlns: th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body style="width: 90vw; margin: auto;">
  <h1>All Dinosaurs</h1>

  <table class="table table-bordered">
      <tr>
          <th>ID</th>
          <th>Species</th>
          <th>Diet</th>
          <th>Aquatic?</th>
      </tr>
      <tr th:each="dino : ${allDinos}">
          <td th:text="${dino.id}"></td>
          <td th:text="${dino.species}"></td>
          <td th:text="${dino.diet}"></td>
          <td th:text="${dino.aquatic}"></td>
      </tr>
  </table>

  <a href="/dino/add">Add more!</a>


</body>
</html>